#box {
    background-color: white;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    border-radius: 10px;

  }

.bordered{
  border: 1px solid rgb(227, 227, 227);
  padding: 5px;
  }