table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid ;
  
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  .form-control{
    margin-top: 7px;
  }

  button{
    margin-right: 2px;
    margin-left: 2px;
  }
  