

<div>

    <div>
        <button class="btn btn-success" (click)="toggleAddModel()">Add a model</button>
        <div *ngIf="showInputs">
            <app-model-creator (Cancel)="toggleAddModel()" (Refresh)="getModels()"></app-model-creator>
        </div>
    </div>



<table>
<tr *ngFor="let element of modelsArray">

    <td>{{element.modelId}} </td>
    <td><button class="btn btn-primary" (click)="showDescription(element.modelId)">view</button></td>
    <td><button class="btn btn-danger" (click)="toggleConfirmation(element.modelId)">delete</button></td>

</tr>
</table>
<div *ngIf="Description">
    <app-models-description (closingSignal)="showDescription('')" [desId]="modelId" class="show"></app-models-description>
</div>

<div *ngIf="showConfirmation">
    <app-confirmation [action]="actionText" (Confirmation)="handleConfirmation($event)"></app-confirmation>
</div>
</div>