<div class="container">

    <input *ngFor="let obj of keyObjectsArray" 
       (click)="onChosen(obj.keywordConcernedObject)" 
       [ngClass]="{'highlighted': clickedObjects.includes(obj.keywordConcernedObject)}"
       value="{{obj.keywordConcernedObject}}" 
       type="button">


<div class="table-container">
    <table *ngFor="let selectedObj of clickedObjects " class="side-by-side-table">
        <tr>{{ selectedObj }}</tr>
        <br>
        <tr *ngFor="let key of keywordsArray">
            <td *ngIf="key.keywordConcernedObject == selectedObj"> {{key.keywordValue}} </td>
        </tr>
    </table>
</div>

is this an Email? <input type="checkbox" [(ngModel)]="isEmail" >
<br>
<input type="text" [(ngModel)]="inputModelId" placeholder="Model id" required>
<br>
<textarea type="text" id="mainText" [(ngModel)]="inputModelText" placeholder="Model Text" style="white-space: pre-wrap;" required></textarea>
<br>
<button (click)="saveModel()">Save</button>
<button (click)="cancelAdding()">Cancel</button>



</div>