.container {
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 50vw;
    border-radius: 10px;
  }

  button{
    margin-right: 2px;
    margin-left: 2px;
  }
  