

<div id="box">

 <br>
  <div id="allButtons">
    <div *ngIf="((+ImportedId) / 10000 < 1)">
      <div *ngFor="let obj of modelsArray ">
        <div *ngIf="obj.concernsProject">
          <button (click)="downloadPdf(obj.id)">Download {{obj.id}}</button>
        </div>
    </div>
  </div>

<div *ngIf="((+ImportedId) / 10000 >= 1)">
  <div *ngFor="let obj of modelsArray ">
      <div *ngIf="obj.concernsWorker">
        <button (click)="downloadPdf(obj.id)">Download {{obj.id}}</button>
      </div>
  </div>
</div>
<button id="exit" (click)="quit()">close</button>

</div>


</div>
