<div id="box">
  <div *ngIf="isMail; else isNotMail">
    <div id="allButtons">
      <div *ngIf="+chosenEntityId / 10000 >= 1">
          <div class="container">
            <table>
              Attachements files available
            <div *ngFor="let obj of modelsArray">
              <div class="side-by-side" *ngIf="obj.modelConcernsWorker && !obj.modelConcernsEmail">
                  <tr><td>attach {{ obj.modelId }} </td> <td><input type="checkbox"  (click)="saveModelToAttach(obj.modelId)" /></td> 
              </div>
            </div>
          </table>

          <table>
            Attachements files available

            <div *ngFor="let obj of modelsArray">
                <div class="side-by-side" *ngIf="obj.modelConcernsEmail && obj.modelConcernsWorker">
                  <tr><td>send {{ obj.modelId }} </td> <td><input type="radio" name="email" (click)="saveModelToSend(obj.modelId)" /></td></tr>
                </div>
              </div>
          </table>
        </div>
        <button (click)="sendEmail(modelToSend,modelToAttach)">Send Mail</button>
      </div>
      <button id="exit" (click)="quit()">close</button>
    </div>
  </div>

  <ng-template #isNotMail>
    <br />
    <div id="allButtons">
      <div *ngIf="+chosenEntityId / 10000 < 1">
        <div *ngFor="let obj of modelsArray">
          <div *ngIf="obj.modelConcernsProject">
            <button (click)="downloadPdf(obj.modelId)">Download {{ obj.modelId }}</button>
          </div>
        </div>
      </div>

      <div *ngIf="+chosenEntityId / 10000 >= 1">
        <div *ngFor="let obj of modelsArray">
          <div *ngIf="obj.modelConcernsWorker">
            <button (click)="downloadPdf(obj.modelId)">Download {{ obj.modelId }}</button>
          </div>
        </div>
      </div>
      <button id="exit" (click)="quit()">close</button>
    </div>
  </ng-template>
</div>
