<div>
    <table>
        <thead>
          <tr>
            <td>Id</td>
            <td>Source email</td>
            <td>Target email</td>
            <td>Subject</td>
            <td>Sent at</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let email of emailsArray" (click)="showEmailContent(email.emailId)">
            <td>{{ email.emailId }}</td>
            <td>{{ email.emailSource }}</td>
            <td>{{ email.emailTarget }}</td>
            <td>{{ email.emailSubject }}</td>
            <td>{{ email.emailDate | date: 'dd-MM-yyyy HH:mm:ss' }}</td>

          </tr>
        </tbody>
      </table>
      <div *ngIf="showEmail">
        <app-email-content [retrievedEmailId]="chosenEmailId" (CloseButton)="showEmailContent(0)"></app-email-content>
      </div>
</div>
