<button (click)="togglePopup('table1')" class="btn btn-primary btn-block">Show Projects</button>

<table class="table" *ngIf="showTable1">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Budget</th>
        <th>Category</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of projectsArray">
        <td>{{ element.projectId }}</td>
        <td>{{ element.projectName }}</td>
        <td>{{ element.projectBudget }}</td>
        <td>{{ element.projectCategory }}</td>
        <td>{{ element.projectDate.substring(0,10) }}</td>
        <td><button class="btn btn-primary" (click)="toggleRepbox(element.projectId,false)">File a report</button></td>
      </tr>
    </tbody>
  </table>

<button (click)="togglePopup('table2')" class="btn btn-primary btn-block">Show Workers</button>
  <table *ngIf="showTable2">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of workersArray">
        <td>{{ element.workerId }}</td>
        <td>{{ element.workerName }}</td>
        <td>{{ element.workerLastName }}</td>
        <td>{{ element.workerTitle }}</td>
        <td><button class="btn btn-primary" (click)="toggleRepbox(element.workerId,false)">File a report</button> <button class="btn btn-primary" (click)="toggleRepbox(element.workerId,true)">Send an Email</button></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="showRepbox">
    <app-repbox class="show" [isMail]="isMail" [chosenEntityId]="elementId" (CloseButton)="handleCloseButtonEvent($event)"></app-repbox>
  </div>



